/* Login.module.css */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa el 100% del alto de la pantalla */
  margin: 0;
  background-image: url('url-de-tu-imagen'); /* Reemplaza 'url-de-tu-imagen' con la URL de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  color: white; /* Cambia el color del texto a blanco para que sea visible sobre la imagen de fondo */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para mejorar la legibilidad del formulario */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el formulario */
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
